# Ignore Python cache
__pycache__/
*.pyc

# Ignore Env files (Your secrets)
.env
service_account.json

# Ignore downloaded data (Don't clutter repo with Drive files)
*.xlsx
!data/sites_metadata.xlsx  <-- Exception: KEEP the metadata file
*.csv
!data/additional_site_info.csv <-- Exception: KEEP the csv file

# Ignore OS files
.DS_Store
